* {
    text-decoration: none;
    box-sizing: border-box;
}

.header {
    background-color: rgb(241, 241, 241);
}

.container {
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
}

/*Верхнее меню в серой плашке*/

.top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
}

.main-menu-top {
    margin-right: 30px;
    font-weight: 700;
    color: rgb(83, 83, 83);
    margin-top: 15px;
}

.main-log-in {
    color: black;
    font-weight: 900;
    margin-left: 25px;
}

/*Нижнее меню с логотипом и корзиной*/

.bottom-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;

}

.logo {
    width: 100px;
    height: 50px;
}

.cart {
    display: flex;
}

.cart-icon {
    width: 20px;
    height: 20px;
    margin-top: 7px;
    margin-right: 15px;
}

.in-cart {
    font-weight: 700;
    font-size: 14px;
}

.total {
    font-weight: 100;
    color: rgb(83, 83, 83);
    font-size: 14px;
}

/*Линия с поиском*/

.sort {
    color: #fff;
    font-weight: 700;
}

.header-line {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: rgb(255, 174, 0);
}

.search-placeholder {
    width: 550px;
    height: 30px;
    margin-left: 20px;
    border: none;
    border-radius: 3px; 
}

.button {
    margin-left: 10px;
    height: 25px;  
    margin-bottom: 6px;
    
}

.button-search {
    color: rgb(255, 255, 255);
    background: transparent;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    padding-top: 3px;
    padding-bottom: 5px;
    border-radius: 3px; 
}

.icon-search {
    height: 17px;
    margin-right: 5px;
    margin-top: 2px;
}

/*Общий блок*/

.main {
    display: flex;
}

/*Поиск над меню*/

.search-menu {
    display: inline-block;
    margin-top: 20px;
}

form.button-search-menu input[type=text] {
    padding: 10px;
    border: 1px solid rgb(187, 187, 187);
    float: left;
    width: 80%;
    background: #f1f1f1;
    border-right: none;
  }
  
form.button-search-menu button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #f1f1f1;
    color: white;
    border: 1px solid rgb(187, 187, 187);
    border-left: none; 
    cursor: pointer;
  }
  
  /*Бокове меню*/

.section-items {
    display: block;
    padding: 10px;
    border: 1px solid rgb(187, 187, 187);
    color: rgb(83, 83, 83);
}


 
