* {
    text-decoration: none;
    box-sizing: border-box;
}

.header {
    background-color: rgb(241, 241, 241);
}

.container {
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
}

/*Верхнее меню в серой плашке*/

.top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
}

.main-menu-top {
    margin-right: 30px;
    font-weight: 700;
    color: rgb(83, 83, 83);
    margin-top: 15px;
}

.main-log-in {
    color: black;
    font-weight: 900;
    margin-left: 25px;
}

/*Нижнее меню с логотипом и корзиной*/

.bottom-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;

}

.logo {
    width: 100px;
    height: 50px;
}

.cart {
    display: flex;
}

.cart-icon {
    width: 20px;
    height: 20px;
    margin-top: 7px;
    margin-right: 15px;
}

.in-cart {
    font-weight: 700;
    font-size: 14px;
}

.total {
    font-weight: 100;
    color: rgb(83, 83, 83);
    font-size: 14px;
}

/*Линия с поиском*/

.sort {
    color: #fff;
    font-weight: 700;
}

.header-line {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: rgb(255, 174, 0);
}

.search-placeholder {
    width: 550px;
    height: 30px;
    margin-left: 20px;
    border: none;
    border-radius: 3px; 
}

.button {
    margin-left: 10px;
    height: 25px;  
    margin-bottom: 6px;
    
}

.button-search {
    color: rgb(255, 255, 255);
    background: transparent;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    padding-top: 3px;
    padding-bottom: 5px;
    border-radius: 3px; 
}

.icon-search {
    height: 17px;
    margin-right: 5px;
    margin-top: 2px;
}

/*Общий блок*/

.main {
    display: flex;
}

/*Поиск над меню*/

.search-menu {
    display: inline-block;
    margin-top: 20px;
}

form.button-search-menu input[type=text] {
    padding: 10px;
    border: 1px solid rgb(187, 187, 187);
    float: left;
    width: 80%;
    background: #f1f1f1;
    border-right: none;
  }
  
form.button-search-menu button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #f1f1f1;
    color: white;
    border: 1px solid rgb(187, 187, 187);
    border-left: none; 
    cursor: pointer;
}
  
  /*Бокове меню*/

.section-items {
    display: block;
    padding: 10px;
    border: 1px solid rgb(187, 187, 187);
    color: rgb(83, 83, 83);
}

/*Блок с товарами*/

.main-main {
    margin-left: 30px;
    width: 100%;
}

.bread-crumbs {
    display: flex;
}

.mdash {
    margin-left: 5px;
    margin-right: 5px;
}

.bread-crumbs-items {
    color: rgb(83, 83, 83);
}

.bread-crumbs-items:last-child {
    color: rgb(0, 0, 0);
    font-weight: 600;
}


h2 {
    margin-top: 0;
    margin-bottom: 30px;
}
 
.block-filter {
    display: flex;
    justify-content: space-between;
}

.buttons-left-items, .buttons-right-items {
    border: 3px solid rgb(255, 174, 0);
    padding: 10px;
    background-color: rgb(255, 174, 0);
    color: #fff;
    font-weight: 700;
    border-radius: 5px;
}

.buttons-left-new, .buttons-right-in-stock {
    border: 3px solid rgb(255, 174, 0);
    padding: 10px;
    color: black;
    font-weight: 700;
    border-radius: 5px;
}

.filter-price {
    margin-top: 40px;
    font-weight: 700;
}

.filter-sort {
    color: rgb(83, 83, 83);
    font-weight: 100;
}

/*Карточка товара*/

.product-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgb(218, 218, 218);
    padding-top: 20px;
    padding-bottom: 20px;
}

.product-block:last-child {
    border-bottom: 1px solid rgb(218, 218, 218);
}

.img-product {
    width: 130px;
}

.description-product {
    width: 40%;
    margin-left: -50px;
}

.description-product-title {
    margin-top: 0;
}

.product-href {
    text-decoration: underline;
    margin-top: 0;
}

.bottom-description, .price-product-price {
    margin-bottom: 0;
}

.price-product-in-sale {
    margin-top: 0;
    color: rgb(83, 83, 83);
}

.button-and-adress {
    text-align: center;
    margin-top: -50px;
}

.button-and-adress-adress {
    margin-bottom: 25px;
    text-decoration: underline;
    color: rgb(83, 83, 83);

}

.button-and-adress-cart {
    color: #fff;
    background-color: rgb(255, 174, 0);
    padding: 10px 30px 12px 30px;
    border-radius: 5px;
    font-weight: 900;
}

/*footer*/

.footer {
    height: 50px;
    width: 100%;
    background-color: rgb(255, 174, 0);
    margin-top: 50px;
}